* { padding: 0; margin: 0; box-sizing: content-box; }
html, body { width: 100%; height: 100%; }

h2 { text-align: center; font-size: 30px; font-weight: 700; margin-bottom: 7px; }
p.subline { text-align: center; font-size: 14px; color: #9f9f9f; font-weight: 400; }

.Page { font-family: Lato, Arial; display: flex; flex-direction: column; justify-content: space-between; }
.Page__wrap { width: 100%; background: #FCFCFC; }
.Page__container { width: 1140px; margin: 0 auto; }

.Header { height: 100px; border-bottom: 1px solid #ececec; }
.Header__container { height: 100%; display: flex; align-items: center; justify-content: space-between; }
.Header__left { display: flex; align-items: center; }

.Logo { margin-right: 39px; }
.Logo a { color: #222; font-size: 27px; text-decoration: none; display: flex; align-items: center; }
.Logo a span { color:  #f16d7f; font-weight: 900; }
.Logo img { margin-right: 13px; }

.SearchForm {  }
.SearchForm form { white-space: nowrap; }
.SearchForm__browse { width: 87px; height: 38px; border-radius: 3px 0 0 3px; border: 1px solid #e6e6e6; cursor: pointer; color: #222; font-size: 14px; outline: none; background: linear-gradient(180deg, #f9f9f9 0%, #f5f5f5 100%);
}
.SearchForm__browse i { color: #838383; }
.SearchForm input { width: 260px; height: 38px; border: 1px solid #e6e6e6; background: #FCFCFC; padding: 0 17px; margin-left: -10px; outline: none; }
.SearchForm__search { width: 38px; height: 38px; border: 0 none; border-radius: 0 3px 3px 0; border: 1px solid #e6e6e6; background: #FCFCFC; color: #a4a4a4; margin-left: -15px; outline: none;}
.SearchForm__search:hover { background: linear-gradient(180deg, #f9f9f9 0%, #f5f5f5 100%); cursor: pointer; }

.CartWidget { display: flex; align-items: center; }
.CartWidget img { margin-right: 26px; }
.CartWidget button { background: #f16d7f; width: 130px; height: 38px; border: 0 none; color: #FFF; font-size: 15px; }
.CartWidget button:hover { background: #f98797; cursor: pointer; }


.MainMenu__container { height: 50px; display: flex; align-items: center; }
.MainMenu__container ul { width: 680px; margin: 0 auto; display: flex; justify-content: space-between; }
.MainMenu__container li { list-style-type: none; }
.MainMenu__container a { font-size: 14px; padding: 16px 0; font-weight: 700; color: #222; text-decoration: none; text-transform: uppercase; }
.MainMenu__container a:hover { text-decoration: underline; }


.Slider { height: 614px; background: #e8e8e8; }
.Slider__container { height: 100%; background: #e8e8e8 url('home/slider.jpg') -225px -51px; position: relative; }
.Slider__text { font-size: 60px; text-transform: uppercase; font-weight: 900; color: #222; border-left: 12px solid #f16d7f; padding-left: 12px; top: 185px; position: absolute; }
.Slider__text span { font-size: 40px; }
.Slider__text span span { color: #f16d7f; }

.Banners { padding: 98px 0; height: 823px; }
.Banners__container { position: relative; height: 100%; }
.Banners__banner { position: absolute; }
.Banners__banner_1 { top: 0; left: 0; }
.Banners__banner_2 { top: 0; right: 0; }
.Banners__banner_3 { bottom: 0; left: 0; }
.Banners__banner_4 { bottom: 0; right: 0; }
.Banners__sticker { background: #FFF; position: absolute; padding: 16px 19px; left: 0; top: 26px; color: #222; font-size: 18px; font-weight: 900; }
.Banners__sticker span { color:  #f16d7f; font-size: 30px; font-weight: 900; }


.Items {  }
.Items__container {  }

.Items__list { margin: 60px 0; display: flex; justify-content: space-between; flex-wrap: wrap; }

.Items__item { width: 263px; height: 364px; margin-bottom: 39px; position: relative; }
.Items__item:hover { box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.16); }

.Items__item a { text-transform: uppercase; text-decoration: none; }
.Items__img { margin-bottom: 12px; }
.Items__name { color: #222; font-size: 13px; font-weight: 400; margin: 0 0 12px 15px; }
.Items__price { color: #f16d7f; font-size: 16px; font-weight: 700; margin: 0 0 12px 15px; }

.Items__add2cart { background: rgba(58, 56, 56, 0.83); position: absolute; top: 0; left: 0; width: 263px; height: 281px; z-index: 5; visibility: hidden; display: flex; justify-content: center; align-items: center; z-index: 9999; }
.Items__add2cart button { border: 1px solid #FFF; background: none; color: #fff; font-size: 13px; font-weight: 700; width: 123px; height: 39px; display: flex; align-items: center; justify-content: center; font-family: Lato, Arial; cursor: pointer; }
.Items__add2cart button img { color: #fff; width: 23px; height: 22px; margin-right: 3px; }
.Items__item:hover .Items__add2cart { visibility: visible; }

.Items__link { display: block; width: 212px; padding: 14px 0; margin: 0 auto; background: #f16d7f; color: #fff; font-size: 16px; font-weight: 400; text-decoration: none; text-align: center; }
.Items__link:hover { background: #f98797; }


.Advantages { padding: 113px 0 97px 0; }
.Advantages__container { background: #222224; display: flex; justify-content: space-between; }

.Advantages__banner { position: relative; }
.Advantages__banner:before {content: ""; position:absolute; width: 100%; height: 100%; background: rgba(0,0,0,0.2);}

.Advantages__sticker { position: absolute; top: 146px; left: 39px; font-size: 54px; font-weight: 700; color: #FFF; }
.Advantages__sticker span { color: #f16d7f; }

.Advantages__advantage { display: flex; justify-content: space-between; align-items: flex-start; margin: 48px 43px 0 36px; }
.Advantages__advantage img { margin-right: 33px; }
.Advantages__advantage h4 { font-size: 20px; font-weight: 700; color: #fbfbfb; margin-bottom: 17px; }
.Advantages__advantage p { font-size: 14px; font-weight: 300; color: #fbfbfb; line-height: 24px; width: 216px;}

.Subscribe { background: #f2f2f2 url('footer/subscribe_background.jpg') no-repeat center; }
.Subscribe:before {content: ""; position: absolute; width: 100%; height: 438px; background: rgba(255,255,255,0.3);}
.Subscribe__container { height: 100%; }

.Footer__Subscribe { height: 438px; display: flex; justify-content: space-between; }
.Subcribe__form { width: 50%; height: 100%; display: flex; flex-direction: column; justify-content: center; align-items: center; z-index: 10; }
.Subcribe__form h4 { font-size: 24px; font-weight: 400; text-align: center; line-height: 24px; margin-bottom: 35px; }
.Subcribe__form h4 span { font-size: 14px; }
.Subcribe__form input { width: 211px; height: 46px; padding-left: 23px; background: #e1e1e1; border: 0 none; border-radius: 23px 0 0 23px; outline: none; }
.Subcribe__form button { width: 104px; height: 46px; background: #f16d7f; border: 0 none; border-radius: 0 23px 23px 0; color: #FFF; font-size: 14px; outline: none; }
.Subcribe__form button:hover { background: #f98797; cursor: pointer; }

.Subscribe__Recomendation { width: 50%; height: 100%; border-right: 1px solid #FFF; display: flex; align-items: center;  flex-direction: column; z-index: 10; }
.Recomendation__people { display: flex; justify-content: space-between; width: 499px; margin-top: 111px; align-items: flex-start; margin-bottom: 39px; }
.Recomendation__people img { border-radius: 44px; margin-right: 27px; }
.Recomendation__description { font-size: 16px; font-style: italic; margin: 14px 0 19px 0; }
.Recomendation__name { font-size: 16px; font-weight: 700; color: #f16d7f; }
.Recomendation__name span { font-size: 12px; font-weight: 300; color: #222224; }

.Recomendation__switches { display: flex; justify-content: flex-start; margin-left: -120px; }
.Recomendation__switch { width: 41px; height: 7px; cursor: pointer; background: #d6d6d6; margin-right: 10px; }
.Recomendation__switch_active { background: #f16d7f; }


.FooterMenu { padding: 128px 0 87px 0; font-size: 14px; font-weight: 300; }
.FooterMenu__container { display: flex; justify-content: space-between; }

.FooterMenu__company { width: 427px; }
.FooterMenu .Logo { margin-bottom: 29px; }
.FooterMenu__description { font-size: 14px; font-weight: 300; color: #898989; letter-spacing: 0.35px; }

.FooterMenu__menu { margin-left: 129px; }
.FooterMenu__menu h4 { font-size: 18px; color: #f16d7f; margin-bottom: 45px; white-space: nowrap; }
.FooterMenu__menu ul {  }
.FooterMenu__menu li { list-style-type: none; margin-bottom: 21px; }
.FooterMenu__menu a { color: #898989; text-decoration: none; font-weight: 400; }
.FooterMenu__menu a:hover { text-decoration: underline; }


.FooterSubline { background: #e6e6e6; height: 81px; }
.FooterSubline__container { height: 100%; display: flex; align-items: center; justify-content: space-between; }
.FooterSubline__copyright { font-size: 16px; font-weight: 400; color: #7a7a7a; }

.FooterSubline__social { display: flex; justify-content: space-between; }
.FooterSubline__social a { display: flex; background: #FFF; width: 35px; height: 35px; margin-right: 5px; font-size: 16px; color: #b2b2b2; justify-content: center; align-items: center; text-decoration: none; }
.FooterSubline__social a:hover { background: #f16d7f; color: #f7f7f8; }
.FooterSubline__social_disabled { opacity: 0.5; }