<!doctype html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>Каталог</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="index.js"></script>
</head>
<body>
	<h1>Каталог</h1>
	<ul id="catalog"></ul>
</body>
</html>